instrument/usaxs_support/saveFlyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  this file generated by oXygen XML Editor
  by analysis of example saveFlyData.xml file
  and then later edited by hand.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- root element -->
  <xs:element name="saveFlyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="triggerPV"/>
        <xs:element ref="timeoutPV" />
        <xs:element ref="NX_structure"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1.1" />  <!-- data acquired before 2015-01-20 -->
            <xs:enumeration value="1.2" />  <!-- starting 2015-01-20, meets latest NXcanSAS -->
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

<!-- + + + + + + + component elements + + + + + + + + -->

  <xs:element name="triggerPV">
    <xs:complexType>
      <xs:attribute name="done_text" use="required" type="xs:NCName"/>
      <xs:attribute name="done_value" use="required" type="xs:integer"/>
      <xs:attribute name="pvname" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="start_text" use="required" type="xs:NCName"/>
      <xs:attribute name="start_value" use="required" type="xs:integer"/>
      <xs:attribute name="poll_time_s" use="optional" type="xs:decimal" default="0.1"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="timeoutPV">
    <xs:complexType>
      <xs:attribute name="pvname" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="units" use="required">
        <!-- only here to remind that units must be seconds -->
      	<xs:simpleType>
   		  <xs:restriction base="xs:string">
   		  	<xs:enumeration value="s" />
   		  </xs:restriction>
      	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="NX_structure">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="group"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="attribute">
	<xs:complexType>
		<xs:attribute name="name" use="required" type="xs:NCName"/>
		<xs:attribute name="value" use="required" type="xs:string"/>
	</xs:complexType>
  </xs:element>

  <xs:element name="field">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="text" />
      </xs:choice>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="group">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="group"/>
        <xs:element ref="field"/>
        <xs:element ref="PV"/>
        <xs:element ref="link"/>
      </xs:choice>
      <xs:attribute name="class" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="link">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName" />
      <xs:attribute name="source" use="required" type="xs:string" />
      <xs:attribute name="linktype" use="optional" default="NeXus">
        <xs:simpleType>
          <xs:restriction base="xs:NCName">
            <xs:enumeration value="NeXus" />
            <!-- TODO: <xs:enumeration value="hard" /> -->
            <!-- TODO: <xs:enumeration value="soft" /> -->
            <!-- TODO: <xs:enumeration value="external" /> -->
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <!-- TODO: <xs:attribute name="external_file" use="optional" default="xs:NMTOKEN" /> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="PV">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="label" use="required" type="xs:NCName"/>
      <xs:attribute name="pvname" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="length_limit" use="optional" type="xs:NCName"/>
      <xs:attribute name="acquire_after_scan" use="optional" default="false" type="xs:boolean"/>
      <xs:attribute name="string" use="optional" default="false" type="xs:boolean"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
